/* Botão de enviar (submit) - Verde */
#chat-submit {
    background-color: #d4d803 !important; 
}

#chat-submit:hover {
    background-color: #f9e832 !important; 
}
.logo {
    width: 200px !important;
    max-width: 200px !important;
    height: auto !important;
    display: block !important;
    border-radius: 30px !important;
}

.prose hr {
    border: none !important;
    border-top: 1px solid #333333 !important;
    margin: 12px 0 !important;
}

.prose h3 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    margin: 8px 0 4px 0 !important;
    color: #e0e0e0 !important;
}

.prose h2 {
    font-size: 1.1rem !important;
    font-weight: 700 !important;
    margin: 4px 0 !important;
}